.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-bottom: 20px;
    color:blue;
}
h1{
    text-align: center;
    color:blue;
}
h3{
    text-align: center;
    color:blue;
}
.btn{
    display: grid;
    grid-template-columns: 50% 50%;
    button{
        height: 30px;
        color:blue;
    }
}
