<section>
  <div *ngIf="!linkSent">
    <header>
      <h1>Forgot your Password?</h1>
      <h3>We will help you to reset it and get back on track</h3>
    </header>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Email Adress</mat-label>
        <input matInput placeholder="user@gmail.com" formControlName="email" required />
        <mat-error *ngFor="let validation of validationMessage?.email">
          <mat-error class="error-message"
            *ngIf="resetForm?.get('email')?.hasError(validation?.type) && (resetForm?.get('email')?.dirty || resetForm?.get('email')?.touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
      <footer>
        <div class="invalid" *ngIf="false">
          <mat-icon>warning</mat-icon>
          <h4>Please enter the required field</h4>
        </div>
        <div class="btn">
          <button type="submit" mat-raised-button color="primary">
            <ng-container *ngIf="!spinner">Reset Password</ng-container>
            <mat-spinner [diameter]="40" *ngIf="spinner"></mat-spinner>
          </button>
        </div>
        <a routerLink="">
          <mat-icon>arrow_back</mat-icon> Go Back
        </a>
      </footer>
    </form>
  </div>
  <div *ngIf="linkSent">
    <header>
      <h1>Reset Link</h1>
      <h3>An email has been sent to your registered email ID. Please follow the instruction to reset your password </h3>
    </header>
    <footer>
      <div class="btn">
        <button routerLink="" type="button" mat-raised-button color="primary">Back To Login</button>
      </div>
    </footer>
  </div>
</section>
