section {
    .header {
        display: grid;
        grid-template-columns: 90% 10%;
        margin-top: 20px;
        margin-left: 20px;
        p {
            font-size: 20px;
            color: #759bf3;
            font-weight: 600;
        }
        .icons {
            display: flex;
            //   justify-content: center;
            color: #759bf3;
            .notification {
                i {
                    font-size: 30px;
                }
            }
            .img {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                border: 1px solid #759bf3;
                margin-left: 20px;
                i {
                    font-size: 15px;
                    padding-top: 5px;
                    padding-left: 9px;
                }
            }
            h3 {
                margin-left: 20px;
                font-size: 20px;
            }
        }
    }
    .btn1 {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        margin-right: 50px;
        button {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: #759bf3;
            border: none;
            i {
                font-size: 25px;
                padding-left: 5px;
                color: white;
            }
        }
    }
    hr {
        color: #759bf3;
    }
    .main {
        margin: 50px;
        border: 1px solid;
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 20px;
        color: #759bf3;
        .search_select {
            display: grid;
            grid-template-columns: 85% 10%;
            .search {
                width: 400px;
                ::ng-deep {
                    .mat-form-field-appearance-outline {
                        width: 100%;
                    }
                }
            }
        }
        @media screen and (max-width: 480px) {
            .search_select{
              display: grid;
              grid-template-columns: 40%;
            }
            .search{
                width: 100px;
                ::ng-deep {
                    section[_ngcontent-ous-c172] .main[_ngcontent-ous-c172] .search_select[_ngcontent-ous-c172] .search[_ngcontent-ous-c172] .mat-form-field-appearance-outline{
                        width: 50%;
                    }
                }
            }
          }
        
        .btn {
            .apply {
                margin-right: 10px;
                height: 40px;
                width: 150px;
                color: white;
                background-color: #5282f0;
                border: none;
                font-size: 15px;
            }
            .reset {
                margin-right: 10px;
                height: 40px;
                width: 150px;
                color: #5282f0;
                border: 1px solid #759bf3;
                background-color: white;
                font-size: 15px;
            }
        }
    }
    // .mt_table{
    //     margin: 20px;
    //     border: 1px solid #759bf3;
    //     th{
    //         background-color:hsl(224deg 85% 92%) ;
    //         font-size: 20px;
    //         color:#5282f0;
    //     }
    //     td{
    //         color:#5282f0;
    //         .action{
    //             display: flex;
    //            i{
    //                padding-left: 10px;
    //                font-size: 20px
    //            }
    //         };
    //     }
    .table{
        width: 95%;
        margin: 30px;
        
    }
}

::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: hsl(230deg 85% 71%);
    }
    .mat-form-field {
        .mat-hint,
        input,
        ::placeholder,
        .mat-form-field-label {
            color: hsl(230deg 85% 71%);
        }
    }
}
