$color: #7198f3;
$padding: 30px;
$border: 3px solid #dcdcdc;
@mixin btn {
  width: 400px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
section {
  background: #ffffff;
  height: calc(110vh - 85px);
  .heading {
    border-bottom: 1px solid $color;
    background: #ffffff;
    margin: -15px 0px 3px 0px;
    padding: $padding;
    color: $color;
  }
  .userData {
    border-top: $border;
    background: #ffffff;
    padding: $padding;
    display: flex;
    border-bottom: 1px solid $color;
    .material-icons {
      font-size: 150px;
      color: $color;
    }
    .data {
      margin: 30px 0px 0px 60px;
      .title {
        color: #d0daf8;
        font-weight: 500;
        font-size: 15px;
        .titleData {
          color: $color;
        }
      }
    }
  }

@media screen and (max-width: 480px) {
  .userData{
    display: flex;
    flex-direction: column;
    .data{
      margin-left: 0px;
    }
  }
}
  .password {
    border-top: $border;
    background: #ffffff;
    margin-top: 3px;
    padding: $padding;
    .subHeading {
      color: $color;
      font-weight: 400;
      font-size: 20px;
    }
    label {
      color: $color;
    }
    .setPassword {
      display: flex;
      flex-direction: column;
    }
    #warn {
      font-size: 18px;
    }
    .mat-form-field {
      width: 500px;
      .mat-hint,
      input,
      ::placeholder,
      .mat-form-field-label {
        color: $color;
      }
    }
    .material-icons {
      color: $color;
    }
    ::ng-deep {
      .mat-form-field-appearance-outline .mat-form-field-outline {
        color: $color;
      }
    }
    .newPassword {
      display: flex;
      gap: 20px;
    }
    @media screen and (max-width: 480px) {
      .newPassword{
        display: flex;
        flex-direction: column;
      }
    }
  }
  .btnGrp {
    margin-top: 15px;
    display: flex;
    gap: 20px;
    background: #ffffff;
    padding: $padding;
    #cancelBtn {
      color: $color;
      border: 1px solid $color;
      @include btn();
    }
    #saveBtn {
      color: white;
      background-color: $color;
      @include btn();
    }
  }
}
