<section>
  <div>
    <header>
      <h1>Sign In to Admin Panel</h1>
      <h3>Enter the details below</h3>
    </header>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [type]="showPassword1 ? 'text' : 'password'" matInput placeholder="***********" formControlName="password" required />
        <mat-icon (click)="toggleShow1()" matSuffix *ngIf="!showPassword1" class="loc">visibility</mat-icon>
        <mat-icon (click)="toggleShow1()" matSuffix *ngIf="showPassword1" class="loc">visibility_off</mat-icon>
        <mat-error *ngFor="let validation of validationMessage?.password">
          <mat-error class="error-message"
            *ngIf="resetForm?.get('password')?.hasError(validation?.type) && (resetForm?.get('password')?.dirty || resetForm?.get('password')?.touched)">
            <mat-icon>warning</mat-icon>{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [type]="showPassword2 ? 'text' : 'password'" matInput placeholder="***********" formControlName="cnfPassword" required />
        <mat-icon (click)="toggleShow2()" matSuffix *ngIf="!showPassword2" class="loc">visibility</mat-icon>
        <mat-icon (click)="toggleShow2()" matSuffix *ngIf="showPassword2" class="loc">visibility_off</mat-icon>
        <mat-error *ngFor="let validation of validationMessage?.password">
          <mat-error class="error-message"
            *ngIf="resetForm?.get('cnfPassword')?.hasError(validation?.type) && (resetForm?.get('cnfPassword')?.dirty || resetForm?.get('cnfPassword')?.touched)">
            <mat-icon>warning</mat-icon>{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-error class="matchPassword" *ngIf="resetForm.get('cnfPassword')?.errors?.confirmPasswordValidator"><mat-icon>warning</mat-icon>Confirm Password doesn't match with New Password</mat-error>
    <footer>
      <div class="invalid" *ngIf="false">
        <mat-icon>warning</mat-icon>
        <h4>Please enter the required field</h4>
      </div>
      <div class="btn">
        <button type="submit" mat-raised-button color="primary">
          <ng-container *ngIf="!spinner">Set new password</ng-container>
          <mat-spinner [diameter]="40" *ngIf="spinner"></mat-spinner>
        </button>
      </div>
    </footer>
  </form>
  </div>
</section>
